.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150.19px;
  line-height: 32.92px;
  margin: -8px;
  img.icon{
    width: 10.8px;
    height: 32.92px;
  }
  img.company-name{
    height: 16.11px;
    margin: 10px;
  }
}
