main{
  margin-top: 60px;
  section{
    .section-content{
      display: flex;
    }
  }
  img.house-image{
    height: auto;
    width: 704px;
    border-radius: 0 57px 0 0;
    margin-right: 23px;
  }
  hr{
    width: 169px;
    height: 4px;
    border: none;
    background: linear-gradient(90deg, #FFAC12 0%, #000000 94.96%);
    margin-top: 58px;
    margin-left: 0;
  }
}
